.slider {  
  &__body {
    &_orientation {
      &_horizontal {
        margin: 3rem 3rem 4rem 2rem;
      }
  
      &_vertical {
        margin: 2rem 4rem;
      }
    }

    &_border-color {
      &_black {
        border: 0.5px solid black;
      }
    }
  }

  &__range {
    &_color {
      &_orange {
        background-color: orangered;
      }
    }
  }

  &__handle {
    &_color {
      &_gray {
        background-color: grey;
      }

      &_white {
        background-color: white;
        border: 0.06rem solid black;
      }
    }
  }

  &__tooltip {
    &_color {
      &_gray {
        background-color: grey;

        &::after {
          @at-root {
            .slider__body_orientation_horizontal #{&} {
              border-color: grey transparent transparent;
            }

            .slider__body_orientation_vertical #{&} {
              border-color: transparent grey transparent transparent;
            }
          }
        }
      }

      &_white {
        background-color: white;
        border: 0.06rem solid black;
        color: black;

        @at-root {
          .slider__body_orientation_horizontal #{&} {
            top: -2.28rem;
            left: -0.85rem;
          }

          .slider__body_orientation_vertical #{&} {
            top: -0.42rem;
          }
        }

        &::after {
          @at-root {
            .slider__body_orientation_horizontal #{&} {
              border-color: black transparent transparent;
            }

            .slider__body_orientation_vertical #{&} {
              border-color: transparent black transparent transparent;
              margin-top: -0.3rem;
            }
          }
        }
      }
    }
  }
}


