.slider {
  @at-root {
    .jquery-slider-vertical#{&} {
      margin: 2rem 4rem;
    }

    .jquery-slider-horizontal#{&} {
      margin: 3rem 3rem 4rem 2rem;
    }
  }

  &__range {
    &_color {
      &_orange {
        background-color: orangered;
      }
    }
  }

  &__handle {
    &_color {
      &_gray {
        background-color: grey;

        .jquery-slider-tooltip {
          background-color: grey;

          &::after {
            @at-root {
              .jquery-slider-horizontal #{&} {
                border-color: grey transparent transparent;
              }

              .jquery-slider-vertical #{&} {
                border-color: transparent grey transparent transparent;
              }
            }
          }
        }
      }

      &_white {
        background-color: white;
        border: 0.06rem solid black;

        @at-root {
          .jquery-slider-horizontal #{&} {
            top: -95%;
          }
        }

        .jquery-slider-tooltip {
          background-color: white;
          border: 0.06rem solid black;
          color: black;

          @at-root {
            .jquery-slider-horizontal #{&} {
              top: -2.28rem;
              left: -0.795rem;
            }

            .jquery-slider-vertical #{&} {
              top: -0.42rem;
            }
          }

          &::after {
            @at-root {
              .jquery-slider-horizontal #{&} {
                border-color: black transparent transparent;
                margin-left: -0.3rem;
              }

              .jquery-slider-vertical #{&} {
                border-color: transparent black transparent transparent;
                margin-top: -0.3rem;
              }
            }
          }
        }
      }
    }
  }
}


