.slider-demo {
  border: 0.12rem dashed grey;
  margin: 0.5rem;
  width: 25rem;
  height: 25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  user-select: none;
}
