doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="apple-touch-icon", sizes="180x180", href="assets/favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="assets/favicons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="assets/favicons/favicon-16x16.png")
    link(rel="manifest", href="assets/favicons/site.webmanifest")
    link(rel="mask-icon", href="assets/favicons/safari-pinned-tab.svg", color="#d62727")
    link(rel="shortcut icon", href="assets/favicons/favicon.ico")
    meta(name="msapplication-TileColor", content="#00a300")
    meta(name="msapplication-config", content="assets/favicons/browserconfig.xml")
    meta(name="theme-color", content="#ffffff")
    meta(name="description", content="ui-kit-demo (set of UI elements)")
    meta(nme="keywords", content="slider, jquery-plugin, slider-jquery")
    link(rel="stylesheet", href="./css/jquery-slider.css")
    title Slider Test Page

body
  script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  script(type="text/javascript", src="./js/jquery-slider.js")
