include ../../components/slider-panel/slider-panel

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="apple-touch-icon", sizes="180x180", href="assets/favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="assets/favicons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="assets/favicons/favicon-16x16.png")
    link(rel="manifest", href="assets/favicons/site.webmanifest")
    link(rel="mask-icon", href="assets/favicons/safari-pinned-tab.svg", color="#d62727")
    link(rel="shortcut icon", href="assets/favicons/favicon.ico")
    meta(name="msapplication-TileColor", content="#00a300")
    meta(name="msapplication-config", content="assets/favicons/browserconfig.xml")
    meta(name="theme-color", content="#ffffff")
    meta(name="description", content="ui-kit-demo (set of UI elements)")
    meta(nme="keywords", content="slider, jquery-plugin, slider-jquery")
    link(rel="stylesheet", href="./css/jquery-slider.css")
    title Slider Test Page

body
  .header slider-jquery-plugin demo page
  .samples-wrapper
    +slider-panel({
      sliderOptions: {
        range: 'min',
        labels: true,
        tooltip: true,
        max: 10,
        value: 3,
        classes: {
          'jquery-slider': 'slider',
        },
      }
    })

    +slider-panel({
      sliderOptions: {
        range: true,
        orientation: 'vertical',
        value: [3, 8],
        max: 10,
        labels: true,
        tooltip: true,
        classes: {
          'jquery-slider': 'slider',
          'jquery-slider-range': 'slider__range_color_orange',
          'jquery-slider-handle': 'slider__handle_color_gray',
        }
      }
    })

    +slider-panel({
      sliderOptions: {
        range: 'max',
        tooltip: true,
        max: 8,
        value: 5,
        labels: false,
        classes: {
          'jquery-slider': 'slider',
          'jquery-slider-handle': 'slider__handle_color_white',
        },
      }
    })

    +slider-panel({
      sliderOptions: {
        range: 'min',
        tooltip: true,
        max: 20,
        value: 10,
        labels: false,
        pips: true,
        classes: {
          'jquery-slider': 'slider',
          'jquery-slider-range': 'slider__range_color_orange',
          'jquery-slider-handle': 'slider__handle_color_white',
        },
      }
    })

  .sign Leonid Baryshnikov (GitHub: https://github.com/lndbaryshnikov)

  script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  script(type="text/javascript", src="./js/jquery-slider.js")
